.pokemon {
    display: inline-block;
    text-align: center;
    border: 0.1em solid;
    background-color: rgb(200, 207, 207);
}

.pokemon img {
    display: block;
    background-color: rgb(184, 181, 178);


}