body {
    background-image: url('img/kate.JPG');
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    font-size: 1.5rem;
    font-family: Verdana;
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    padding-top: 10px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-left-side-logo {
    display: flex;
    align-items: center;
}

.nav-right-side-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.nav-right-side-links a {
    color: rgb(170, 182, 192);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}


.greeting-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

section {
    background: white;
    display: flex;
    text-align: center;
    color: black;
    margin-top: 1000px;
    flex-direction: column;
}

img {
    width: 250px;
    height: 250px;
}

.title {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    justify-content: center;
}

.imageText {
    display: flex;
}

ul {
    columns: 2;
    text-align: left;

}